body {
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:300px;
    background-color:lightsteelblue;
}
.center {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#content {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#nameIn {
    height:30px;
    width:200px;
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    font-size:30px;
}

.inout {
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    font-family:'Courier New', Courier, monospace;


}

#button {
    margin-top:20px;
    font-size:30px;
    font-weight:bold;
    padding:10px;
    background-color:royalblue;
    border:none;
    border-radius:5px;
    color:white;
    font-family:'Courier New', Courier, monospace;
}

#button:focus
{
    border:2px solid black;
}

#output{
    font-size: 30px;
    font-weight:bold;
}

#drumRoll
{
    width:300px;
    display:none;
}
